[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[diff]
	tool = code-difftool
[difftool "code-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = code-mergetool
[mergetool "code-mergetool"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[core]
	editor = code --wait
[alias]
	br = branch
	bl = blame -w -C -C -C -L
	cm = commit
	co = checkout
	lg = log --oneline --decorate --all --graph
	st = status
	sh =	stash --all

[user]
	name = InSuperposition
	email = f.galloway@gmail.com
