[submodule ".config/android"]
	path = .config/android
	url = https://github.com/InSuperposition/android.git
[submodule ".config/cargo"]
	path = .config/cargo
	url = https://github.com/InSuperposition/cargo.git
[submodule ".config/clojure"]
	path = .config/clojure
	url = https://github.com/InSuperposition/clojure.git
[submodule ".config/ghostty"]
	path = .config/ghostty
	url = https://github.com/InSuperposition/ghostty.git
[submodule ".config/git"]
	path = .config/git
	url = https://github.com/InSuperposition/git.git
[submodule ".config/gnugpg"]
	path = .config/gnugpg
	url = https://github.com/InSuperposition/gnugpg.git
[submodule ".config/homebrew"]
	path = .config/homebrew
	url = https://github.com/InSuperposition/homebrew.git
[submodule ".config/rustup"]
	path = .config/rustup
	url = https://github.com/InSuperposition/rustup.git
[submodule ".config/starship"]
	path = .config/starship
	url = https://github.com/InSuperposition/starship.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/InSuperposition/tmux.git
[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/InSuperposition/zsh.git
